body{
    font-family: Arial, sans-serif;
    font-size: 175%;
}

header{
    background-color: #ffff00;
}

nav{
    background-color: #00ff00;
    display: inline-block;
    width: 80%
}

main{
    background-color: #00ffff;
    font-size: 200%
}

footer{
    background-color: #ff9900;
}

li{
    display: inline-block;
    width: auto;
}

h1{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

p{
    height: 100%;
}

nav image{
    width: 10%;
    position: relative;
    top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    justify-content: center;
}

.grid image{
    width: 100%;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
    background-color: #f3f3f3;
}

.flex-item {
    background-color: lightcoral;
    color: white;
    text-align: center;
    padding: 30px;
    flex: 0 1 200px;
    border-radius: 8px;
    font-weight: bold;
}