body{
    font-family: Arial, sans-serif;
    font-size: 175%;
}

header{
    background-color: #ffff00;
}

nav{
    background-color: #00ff00;
}

main{
    background-color: #00ffff;
    font-size: 200%
}

footer{
    background-color: #ff9900;
}

li{
    display: inline-block;
    width: auto;
}

h1{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

p{
    height: 100%
}